
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*HERE ARE THE MAIN STYLES THAT SPAN ACROSS ALL PAGES*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Raleway');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');
/*#region RESET*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

    /**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

    audio:not([controls]) {
        display: none;
        height: 0;
    }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

    /**
 * Re-set default cursor for disabled elements.
 */

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

    /**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/*#endregion RESET*/

body {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
    background-repeat: round;
    background-image: url('../Images/paper.jpg');
    height: 3300px;
    font-family: 'IM Fell English SC', serif;
    border: 1px solid #327a81;
}

/*#region HEADER*/

.nameTag, .nameTagCourses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    position: relative;
    background: rgba(172, 243, 252, 0.50);
    text-align: center;
    padding: 0 2em;
}

    .nameTag h1 {
        position: relative;
        top: -330px;
        color: #1f1419;
        text-shadow: -1px -1px rgba(233, 223, 223, 0.6);
        font-size: 36px;
    }

    .nameTag h3 {
        position: relative;
        top: -320px;
        color: #1f1419;
        text-shadow: -1px -1px rgba(233, 223, 223, 0.6);
        font-size: 18px;
    }

.nameTagCourses h1 {
    position: relative;
    top: -140px;
    color: #1f1419;
    text-shadow: -1px -1px rgba(233, 223, 223, 0.6);
    font-size: 36px;
}

.nameTagCourses h3 {
    position: relative;
    top: -130px;
    color: #1f1419;
    text-shadow: -1px -1px rgba(233, 223, 223, 0.6);
    font-size: 18px;
}

/*#endregion HEADER*/

/*#region NAVBAR*/

.nav {
    height: 50px;
    width: 100%;
    background-image: url('../Images/footerImage.png');
    background-position: left top, center top;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 1px solid #327a81;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #000;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #000;
        }


            .nav > .nav-links > a:hover {
                border-bottom: 6px solid #327a81;
                text-shadow: -3px -3px rgba(233, 223, 223, 0.6);
            }

    .nav > #nav-links-below > a:hover {
        border-right: 6px solid #327a81;
        text-shadow: -3px -3px rgba(233, 223, 223, 0.6);
    }

    .nav > #nav-check {
        display: none;
    }

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }


    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

}

/*#endregion NAVBAR*/

/*#region PARALLAX BANNER*/

.main-container {
    height: 1200px;
    max-width: 1400px;
}

#parallax-container {
    max-width: 1400px;
    margin: 0 auto;
    position: fixed;
    top: 100px;
}

.main-container #parallax-container h3 {
    width: 80%;
    font-size: 120px;
    text-align: center;
    color: #0c9a8b;
    text-shadow: 1px 1px rgba(0,0,0,0.2),-1px -1px rgba(0,0,0,0.3);
}

#parallax-container div {
    margin: 0 auto;
    max-width: 1400px;
    position: fixed;
    top: 100px;
    transform: translateY(10px);
    height: 100%;
    width: 100%;
}

#parallax-container img {
    width: 100%;
    max-width: 1400px;
}


/*#endregion PARALLAX BANNER*/

/*#region MAINBODY*/

.main-body {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 460px;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.28);
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3);
}

    .main-body img {
        display: block;
        position: relative;
        padding:20px;
        margin:auto;
    }

.main-text {
    display: block;
    position: relative;
    margin:0 auto;
    top:-330px;
    width: 30%;
    color: #ddd;
    font-size: 20px
}

#isSecond, #isThird, #isFourth {
    margin-top: 200px;
}



/*#endregion MAINBODY*/

/*#region TABLES*/
.main-container .table-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 100px;
}


caption {
    margin: 10px;
    color: #1f1419;
    text-shadow: -1px -1px rgba(233, 223, 223, 0.6);
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

#buttonBar {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
}

#myInput {
    background-image: url('../Images/search.png'), url('../Images/footerImage.png');
    background-position: left top, center top;
    background-repeat: no-repeat;
    background-size: auto;
    width: 60%;
    float: left;
    padding: 12px 20px 12px 60px;
    border: 1px solid #ddd;
    font-family: 'IM Fell English SC', serif;
    font-size: 22px;
    border-bottom: 1px solid #327a81;
}


#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

tbody {
    border-bottom: 1px solid #2b686e;
    width: 100%;
}

thead, tfoot {
    background-image: url('../Images/footerImage.png');
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.6);
}

tbody tr:hover {
    background-color: rgba(245, 237, 237, 0.4);
    border-left: 12px solid #327a81;
}


.table-users {
    position: relative;
    top: 1000px;
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.6);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 80%;
}

    .table-users img {
        width: 80px;
        padding-top: 6px;
    }


table td, table th {
    color: #2b686e;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    padding: 10px;
    border-bottom: 1px solid #327a81;
}


    table td:last-child {
        font-size: 0.95em;
        line-height: 1.4;
        text-align: left;
    }

table th {
    font-weight: 400;
    border-bottom: 1px solid #327a81;
}

table tr:nth-child(2n) {
    background-color: rgba(245, 237, 237, 0.3);
}

table tr:nth-child(2n+1) {
    background-color: rgba(245, 237, 237, 0.6);
}

.imageClick:hover {
    cursor: pointer;
}

.btnDelete {
    cursor: pointer;
    width: 10px;
    float: left;
}

.btnSave {
    cursor: pointer;
    float: left;
}

.btnEdit {
    cursor: pointer;
    float: left;
}



input {
    background-color: rgba(245, 237, 237, 0.8);
    background-position: left top, center top;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    padding: 12px 0px 12px 0px;
    border: 1px solid #ddd;
    font-family: 'IM Fell English SC', serif;
    font-size: 16px;
    border-bottom: 1px solid #327a81;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.4);
}

tbody tr td .picFrame {
    background-image: url('../Images/footerImage.png');
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.6);
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #327a81;
    border-radius: 50%;
    overflow: hidden
}

tbody tr td .picFrame img{
    position: relative;
}

.avatar:hover{
    cursor:pointer;
}

/*#endregion TABLES*/

/*#region FOOTER*/

footer {
    display: block;
    width: 100%;
    height: 40px;
    background-image: url('../Images/footerImage.png');
    background-position: left top, center top;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
}


    footer p {

        width: 60%;
        padding: 4px 10px;
        margin: 10px 20px;
        position: fixed;
    }

    footer p:hover {
        cursor: pointer;
        color: #327a81;
        border-left: 3px solid #327a81;
    }



#apple {
    position: relative;
    bottom: -200px;
    float: left;
    left: 400px;
    animation: appleanimOUT 200ms ease-in-out 0s forwards;
}

    #apple img {
        width: 100px;
    }

#pandora {
    position: relative;
    bottom: -200px;
    float: left;
    left: 400px;
    animation: appleanimOUT 200ms ease-in-out 0s forwards;
}

#pandora img {
    width: 120px;
}


/*#region FOOTER_ANIM*/

@keyframes appleanimIN {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(8deg) scale(1.2)
    }
}

@keyframes appleanimOUT {
    from {
        transform: rotate(8deg) scale(1.2)
    }

    to {
        transform: rotate(0deg) scale(1)
    }
}

/*#endregion FOOTER_ANIM*/

#apple:hover {
    cursor: pointer;
    animation: appleanimIN 200ms ease-in-out 0s forwards;
}

#pandora:hover {
    cursor: pointer;
    animation: appleanimIN 200ms ease-in-out 0s forwards;
}

#studentdesk {
    position: relative;
    bottom: -200px;
    float: left;
}

    #studentdesk img {
        width: 240px;
    }

    #studentdesk:hover {
        cursor: pointer;
    }

/*#region HEADER_ANIM*/

@keyframes TIPanimIN {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(8deg) scale(1.2)
    }
}

@keyframes TIPeanimOUT {
    from {
        transform: rotate(8deg) scale(1.2)
    }

    to {
        transform: rotate(0deg) scale(1)
    }
}

/*#endregion HEADER_ANIM*/


/*#endregion FOOTER*/

/*#region TIP*/

/*FOR A VARIETY OF PAGES THAT HAVE footer SUPRISSE*/

.hiddenclues {
    display: block;
    position: absolute;
    z-index: 10;
}

    .hiddenclues img {
    }

#questionGlobe {
    position: relative;
    top: 80px;
    left: 30px;
}

    #questionGlobe:hover {
        cursor: pointer;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }

/*#region HEADER_ANIM*/

@keyframes TIPanimIN {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(8deg) scale(1.2)
    }
}

@keyframes TIPeanimOUT {
    from {
        transform: rotate(8deg) scale(1.2)
    }

    to {
        transform: rotate(0deg) scale(1)
    }
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/*#endregion HEADER_ANIM*/

#tipDialogue {
    position: relative;
    top: -300px;
}




/*#endregion TIP*/